HOST=steez_postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres_db
POSTGRES_URL=jdbc:postgresql://localhost:5432/postgres_db

OAUTH2_GITHUB_CLIENT_ID=Ov23pirPtgJ0WJSsyz4B
OAUTH2_GITHUB_CLIENT_SECRET=1eba92a4c767816ff11f763705092a88b62e4a42
OAUTH2_GITHUB_REDIRECT_URI=http://localhost:8080/login/oauth2/code/github
OAUTH2_GITHUB_SCOPE=user:email

OAUTH2_GOOGLE_CLIENT_ID=336985716870-i8natghs1ee7sia9s7f49e80d7q0an7p.apps.googleusercontent.com
OAUTH2_GOOGLE_CLIENT_SECRET=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
OAUTH2_GOOGLE_REDIRECT_URI=http://localhost:8080/login/oauth2/code/google

OAUTH2_FACEBOOK_CLIENT_ID=359479213710958
OAUTH2_FACEBOOK_CLIENT_SECRET=3c9be4cd5c40a3a43ee9a2719c05d68c
OAUTH2_FACEBOOK_REDIRECT_URI=http://localhost:8080/login/oauth2/code/facebook

REDIS_HOST=redis
REDIS_PASSWORD=UcVkaXMxOVN0ZWV9

MINIO_BUCKET=avatars
MINIO_URL=http://minio:9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=steez19collective@gmail.com
MAIL_PASSWORD=example example example example

SSL_KEY_ALIAS=example_ssl
SSL_KEY_STORE=example-ssl.p12
SSL_KEY_STORE_TYPE=PKCS12
SSL_KEY_PASSWORD=example
SSL_KEY_STORE_PASSWORD=example

STRIPE_PRIVATE_KEY=sk_test_51Q4NU8FgbcC8FxbKj8bFVKxYCGBmXF6zwagyHzVof5cyOIoBgjYNfQENyWCiXkG8ulATtZP55EJvcNmaQ1cw4nir00U6KFNHNM
STRIPE_PUBLIC_KEY=pk_test_51Q4NU8FgbcC8FxbKMqZugNrwyFlMfiKdzxdw1yuX107PME1fJLBsRxyXwGr6XUZeBqcelx5UpiCSJwPYqO6mvp9I00XIQek2vR